* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url("../_imagens/fundo.png") repeat-x;
    color: #000000;
}

#container {
    width: 750px;
    margin: 0 auto;

}

#topo {
    height: 150px;
    background: url("../_imagens/detalhe-topo.png") no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url("../_imagens/logo.png") no-repeat center;
    text-indent: -3000px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    background: #b10333;
    margin-top: 30px;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul li a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 2em;
    line-height: 2.1em;
    text-decoration: none;
    background: url("../_imagens/divisor.png") no-repeat left center;
    color: #fff;
}

#topo .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;

}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos{
    color: #fff;
    background: #de003e;
    cursor: text;
}

#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#tres-colunas #primario {
    width: 270px;
}

#duas-colunas #primario {
    width: 555px;
    float: left;
    margin: 0 0 20px 195px;
}

#uma-coluna #primario {
    width: 750px;
    margin: 0 0 20px 0;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

#container-rodape {
    padding: 20px;
    background: #294c71;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}

.caixa {
    background: #f3f3f3 url("../_imagens/fundo-caixa.png");
    margin: 10px 0;
    padding: 5px;
}

h2 {
    font-size: 1.1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
    animation-duration: 5s;
}

#lateral ul a:hover {
    background: #f9f9f9 url("../_imagens/marcador.png") no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

label {
    display: block;
    cursor: pointer;
}

input {
    font-size: 0.9em;
    background-color: #fff;
    padding: 5px;
    width: 125px;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    cursor: pointer;
}

input.submit:hover {
    background-color: #294c71;
    font-weight: bolder;
    animation-duration: 2s;
    animation-delay: 0.4s;
}

img {
    border: 2px solid #dfdfdf;
}

img.imagem-principal {
    width: 98%;
    border: 4px solid #dfdfdf;
}

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: #fff;
}

.entrevista h3 {
    background: #de003e;
}

#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
}

#lista-noticias li a  {
    text-decoration: none;
    color: #111111;
    font-size: 0.8em;
}

#lista-noticias li a h3{
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticas li a p {
    font-size: 0.7em;
}

#lista-noticas:hover {
    background: #eee;
    cursor: pointer;
}
